language: python
sudo: required

python:
    # not used directly, but this sets TRAVIS_PYTHON_VERSION so we can use it
    # in anaconda as well (we don't support python less than 3.5)
    - 3.5
    - 3.6

os:
    - linux
    # - osx   # currently osx python projects are not supported in Travis

env:
  global:
    - TARGET_SOFTWARE=$HOME/Software/target_software
    - LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$HOME/Software/TargetDriver/install/lib:$HOME/Software/TargetIO/install/lib:$HOME/Software/TargetCalib/install/lib

before_install:

    # Use utf8 encoding. Should be default, but this is insurance
    # against future changes

    - export PYTHONIOENCODING=UTF8

    # Install miniconda following instructions at
    # http://conda.pydata.org/docs/travis.html

    # note: a fixed anaconda version is being used below due to a bug
    # in the latest, but if solved this can change back to
    # Miniconda3-Latest-Linux-x86_64.sh

    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
        wget https://repo.continuum.io/miniconda/Miniconda3-4.3.21-Linux-x86_64.sh -O miniconda.sh;
      fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
        wget https://repo.continuum.io/miniconda/Miniconda3-4.3.21-MacOSX-x86_64.sh -O miniconda.sh;
      fi
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    ### - conda update -q conda  # get latest conda version
    # Useful for debugging any issues with conda
    - conda info -a

    # Make sure that interactive matplotlib backends work
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
    - git fetch --tags

install:
    - conda create --name cta-dev python=$TRAVIS_PYTHON_VERSION
    - source activate cta-dev
    - conda env update -n cta-dev --file environment.yml
    - ulimit -s 16000  # increase stack size limit, for libhessio
    - pip install travis-sphinx
    - pip install codecov
    # ----- SST1M:
    - conda install numpy protobuf libgcc
    - pip install https://github.com/dneise/protozfitsreader/archive/v0.44.1.tar.gz
    # ----- end of SST1M
    # ----- target_software
    - mkdir -p $HOME/Software
    - cd $HOME/Software
    - git clone https://github.com/watsonjj/target_software.git
    - cd $TARGET_SOFTWARE
    - ./install.sh
    - cd $TRAVIS_BUILD_DIR
    - python -c "import target_driver; print(target_driver.__file_)"
    - ls -al `python -c "from distutils.sysconfig import get_python_lib; print(get_python_lib())"`/*target*
    # ----- end of target_software
    - python setup.py develop

script:
    - pytest --cov=ctapipe
    - ctapipe-info --version # print out the version string
    - travis-sphinx -v --outdir=docbuild build --source=docs/

after_script:
    - source deactivate

after_success:
    - travis-sphinx -v --outdir=docbuild deploy
    - codecov
