name: CI

on: [push, pull_request]

env:
  NUMBA_NUM_THREADS: 1
  MPLBACKEND: Agg
  PYTEST_ADDOPTS: --color=yes

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.7, 3.8]
        install-method: ["pip", "conda"]
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: cache test data
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/ctapipe
          key: ctapipe-test-data

      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          auto-activate-base: true
          activate-environment: ""

      - name: Install dependencies
        env:
          INSTALL_METHOD: ${{ matrix.install-method }}
          PYTHON_VERSION: ${{ matrix.python-version }}
        run: |
          source .github/install.sh
          python --version
          pip install codecov pytest-cov pyflakes pytest-xdist
          pip install -e .[all]
          pip freeze

      - name: Static codechecks
        # need to use a login shell for the conda setup to work
        shell: bash -leo pipefail {0}
        run: |
          pyflakes ctapipe

      - name: Tests
        # need to use a login shell for the conda setup to work
        shell: bash -leo pipefail {0}
        run: |
          pytest --cov --cov-report=xml -n auto --dist loadscope
          ctapipe-info --version

      - uses: codecov/codecov-action@v1

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: ammaraskar/sphinx-action@master
        with:
          docs-folder: "docs/"
          pre-build-command: |
            apt update --yes && apt install --yes git build-essential pandoc
            pip install -U pip setuptools wheel
            pip install -e .[docs]
            git describe --tags
            python -c 'import ctapipe; print(ctapipe.__version__)'

          # treat warnings as errors, make sure links are working
          build-command: make html SPHINXOPTS="-W --keep-going -n --color -w /tmp/sphinx-log"

      - name: Deploy to gihub pages
        # only run on push to master
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: docs/_build/html
          CLEAN: true
          SINGLE_COMMIT: true
